@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Add this to your CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", Courier, monospace !important;
}
.bg_color {
  background: #004871;
}

/* forms */
.input-container input {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #004871;
  outline: none;
  padding: 0 10px;
  border-radius: 6px;
}

.input-container input:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; /* Ensure shadow remains consistent */
}
/* prime Icon */
.pi {
  font-family: "primeicons" !important;
  font-size: 1.3rem ;
  line-height: inherit;
}   

/* accordion */
.custom-accordion-container .p-accordion-header {
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  font-weight: bold;
}

.custom-accordion-container .p-accordion-header .p-accordion-header-text {
  font-size: 16px;
}

.custom-accordion-container .p-accordion-content {
  background-color: white;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.custom-accordion-container .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-header {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.custom-accordion-container .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-header-text {
  color: #000;
}

.content{
  margin-top: 3rem ;
}

/* dashborad content */
@media screen and (min-width: 768px) {
  .dashboard{
    margin-left: 17rem;
  }
}

@media screen and (min-width: 768px) {
  .content{
    margin-top: 7rem ;
  }
}


/* login screen  */
@media screen and (min-width:768px){
  .login_bg_img img{
   background-color: white;
  }
  .school_name{
    color: black; 
  }
}